<% extend("./master") %>

<form method="POST" action="/login">
    <fieldset>
        <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="email" name="email" placeholder="Email" class="form-control" />
                <i class="ace-icon fa fa-user"></i>
            </span>
        </label>

        <label class="block clearfix">
            <span class="block input-icon input-icon-right">
                <input type="password" name="password" placeholder="Password" class="form-control" />
                <i class="ace-icon fa fa-lock"></i>
            </span>
        </label>
        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
            <i class="ace-icon fa fa-key"></i>
            <span class="bigger-110">Login</span>
        </button>
        <div class="space"></div>
    </fieldset>
</form>